body {
  font-family: sans-serif;
  background-color: #555;
  color: #ccc;
}

canvas {
  user-select: none;
  border-width: 0;
  cursor: crosshair;
}

td p {
  padding: 0;
  margin: 0;
  font-size: xx-small;
}

td button {
  padding: 0, 3px;
  margin: 0;
  font-size: xx-small;
}
