body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #333;
  color: #ccc;
}

canvas {
  border: 1px solid #555;
  vertical-align: middle;
}

#mh {
  border: #f00 1px solid;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: none;
}

#mc {
  position: absolute;
  top: 10px;
  left: 150px;
  width: 300px;
  height: 300px;
  border: #fff 1px solid;
  background-color: rgba(255, 255, 255, .1);
}
